/* branding font  */
@font-face {
  font-family: "Quicksand";
  src: url("../assets/fonts/Quicksand-SemiBold.ttf") format("truetype");
}

/* reset */
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  user-select: none;
}
*:focus {
  outline: none !important;
  user-select: none;
}
*:active {
  outline: none !important;
  user-select: none;
}
.selectable {
  user-select: text;
}
/* default */
img.util {
  aspect-ratio: 1/1;
  pointer-events: none;
  animation: img 0.16s ease-in forwards;
  object-fit: cover;
}

@keyframes img {
  from {
    filter: blur(4px);
  }
  to {
    filter: blur(0);
  }
}
/* disable refresh */

body {
  overscroll-behavior-y: contain;
  background-color: var(---w-bg);
}
/* vars */
:root {
  ---app-color: #1657ff;
  ---cube-hc: #1657ff;
  ---app-btn: #1657ff;
  ---app-sup: #19b0d2;
  ---w-bg: #edf2ff;
  ---loader-color: #091629;
  ---w-text: #282a2c;
  ---relative-border-width: 2px;
  ---w-text-anti: whitesmoke;
  ---card-dark: #c1cfd3;
  line-height: 1.5;
  font-weight: 400;
  color-scheme: light;
  font-family: Quicksand, sans-serif;
  text-align: center;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  font-synthesis: none;
}

@media (prefers-color-scheme: dark) {
  :root {
    /* ---color-inv: rgb(34, 38, 41); */
    ---w-bg: #edf2ff;
    ---loader-color: #091629;
    ---w-sup: #cce2f2;
    ---w-text: #282a2c;
    ---w-text-anti: whitesmoke;
    /* ---card-dark: #616a76; */
  }
}

body.dark {
  ---w-bg: #091629;
  ---loader-color: #f7f7f7;
  ---app-btn: #1657ff;
  ---w-sup: #cce2f2;
  ---w-text: #f7f7f7;
  ---w-text-anti: #223141;
}

body.light {
  ---w-bg: #f7f7f7;
  ---loader-color: #091629;
  ---w-sup: #cce2f2;
  ---w-text: #282a2c;
  ---w-text-anti: whitesmoke;
}

::-webkit-scrollbar {
  width: 3px !important;
  height: 3px !important;
}

::-webkit-scrollbar-thumb {
  background-color: #00000014 !important;
  outline: 1px solid #00000014 !important;
  border-radius: 14px !important;
}

::-webkit-scrollbar-track {
  background-color: #00000014;
}

::selection {
  color: #fff;
  background: #fadb5f;
  text-shadow: 2px 0px 12px #00000014;
}

.hide {
  display: none !important;
}

@media screen and (min-width: 600px) {
  .hide-on-desktop {
    display: none;
  }
}
@media screen and (max-width: 600px) {
  .hide-on-mobile {
    display: none;
  }
}

.pop-up {
  animation: pop-up 0.4s ease;
}

@keyframes pop-up {
  from {
    margin-bottom: -100%;
  }
  to {
    margin-bottom: -0%;
  }
}

.logo {
  will-change: filter;
  transition: filter 300ms;
  animation: dropping 1s forwards;
  /* border: 3px red solid; */
  pointer-events: none;
  user-select: none;
  outline: none;
  height: 5em;
  -webkit-animation: jello-horizontal 0.9s both;
  animation: jello-horizontal 0.9s both;
}
.coloured-text {
  background: linear-gradient(to right, #f32170, #ff6b08, #cf23cf, #eedd44);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}
/* ----------------------------------------------
 * Generated by Animista on 2024-4-14 4:11:34
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation jello-horizontal
 * ----------------------------------------
 */
@-webkit-keyframes jello-horizontal {
  0% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
  30% {
    -webkit-transform: scale3d(1.25, 0.75, 1);
    transform: scale3d(1.25, 0.75, 1);
  }
  40% {
    -webkit-transform: scale3d(0.75, 1.25, 1);
    transform: scale3d(0.75, 1.25, 1);
  }
  50% {
    -webkit-transform: scale3d(1.15, 0.85, 1);
    transform: scale3d(1.15, 0.85, 1);
  }
  65% {
    -webkit-transform: scale3d(0.95, 1.05, 1);
    transform: scale3d(0.95, 1.05, 1);
  }
  75% {
    -webkit-transform: scale3d(1.05, 0.95, 1);
    transform: scale3d(1.05, 0.95, 1);
  }
  100% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}
@keyframes jello-horizontal {
  0% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
  30% {
    -webkit-transform: scale3d(1.25, 0.75, 1);
    transform: scale3d(1.25, 0.75, 1);
  }
  40% {
    -webkit-transform: scale3d(0.75, 1.25, 1);
    transform: scale3d(0.75, 1.25, 1);
  }
  50% {
    -webkit-transform: scale3d(1.15, 0.85, 1);
    transform: scale3d(1.15, 0.85, 1);
  }
  65% {
    -webkit-transform: scale3d(0.95, 1.05, 1);
    transform: scale3d(0.95, 1.05, 1);
  }
  75% {
    -webkit-transform: scale3d(1.05, 0.95, 1);
    transform: scale3d(1.05, 0.95, 1);
  }
  100% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}

/* buttons */

/* CSS */
.button {
  appearance: button;
  background-color: #1899d6;
  border: solid transparent;
  border-radius: 16px;
  border-width: 0 0 4px;
  box-sizing: border-box;
  color: #ffffff;
  cursor: pointer;
  display: inline-block;
  font-family: din-round, sans-serif;
  font-size: 15px;
  font-weight: 700;
  letter-spacing: 0.8px;
  line-height: 20px;
  margin: 0 auto;
  outline: none;
  overflow: visible;
  padding: 13px 16px;
  text-align: center;
  text-transform: uppercase;
  touch-action: manipulation;
  transform: translateZ(0);
  transition: filter 0.2s;
  user-select: none;
  -webkit-user-select: none;
  vertical-align: middle;
  white-space: nowrap;
  width: 100%;
  max-width: 200px;
}

.button:after {
  background-clip: padding-box;
  background-color: #1cb0f6;
  border: solid transparent;
  border-radius: 16px;
  border-width: 0 0 4px;
  bottom: -4px;
  content: "";
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  z-index: -1;
}

.button:main,
.button:focus {
  user-select: auto;
}

.button:hover:not(:disabled) {
  filter: brightness(1.1);
  -webkit-filter: brightness(1.1);
}

.button:disabled {
  cursor: auto;
}

.button:active {
  border-width: 4px 0 0;
  background: none;
}

/* tabs */

.navigation {
  width: 100%;
  max-width: 560px;
  height: 72px;
  padding: 10px 0px;
  background: white;
  display: flex;
  border-radius: 10px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  padding: 0 10px;
  position: fixed;
  bottom: 0;
  align-items: center;
  justify-content: center;
}
.navigation .listWrap {
  list-style: none;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  width: 100%;
  height: 50px;
}
.navigation .listWrap li.active {
  background-color: var(---app-color);
  border-radius: 19px;
  padding: 8px;
}

.navigation .listWrap a {
  text-decoration: none;
  width: 30%;
  min-width: 120px;
}
.navigation .listWrap a li {
  width: 100%;
  /* position: relative; */
  justify-content: center;
  align-items: center;
  flex-direction: row;
  text-align: center;
  /* font-weight: 500; */
  display: flex;
  height: 100%;
  gap: 6px;
}
.navigation .listWrap a li:hover {
  text-decoration: none;
}
.navigation .listWrap a li .icon {
  position: relative;
  display: block;
  /* line-height: 60px; */
  text-align: center;
  transition: 0.5s;
  transform: translateY(6px);
}
.navigation .listWrap a li .icon ion-icon {
  font-size: 2rem;
  --ionicon-stroke-width: 36px;
  color: var(---app-color);
}
.navigation .listWrap a li .text {
  color: var(---w-text-anti);
  transition: all 0.5s;
  transform: translateY(10px);
  display: none;
}
.navigation .listWrap a li.active .icon {
  transform: translateY(0px);
}
.navigation .listWrap a li.active .icon ion-icon {
  color: white;
  font-size: 1.4rem;
  --ionicon-stroke-width: 36px;
}

.navigation .listWrap a li.active .text {
  color: white;
  font-weight: 500;
  display: block;
  transform: translateY(0px);
}
.page {
  height: 100%;
  min-height: 100vh;
  width: 100vw;
  padding-bottom: 66px;
  display: flex;
  flex-direction: column;
}
.page.cover {
  position: fixed;
  top: 0;
  left: 0 !important;
  right: 0;
  z-index: 10;
  background: var(---w-bg);
  margin-left: unset;
}
.page.colored-screen {
  background: var(---app-color);
}
.red {
  border: 2px red solid;
}

/* css helpers */

.flex-y-center {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0;
}
.h-70-per {
  height: 70%;
}
.h-30-per {
  height: 30%;
}
.h-30-vh {
  height: 30vh;
}
.h-70-vh {
  height: 70vh;
}
.sup-bg {
  background-color: #edf2ff;
}
.gap-12px {
  gap: 12px;
}
.gallery {
  background-color: #edf2ff;
  display: grid;
  grid-template-columns: 1fr 1fr;
  min-height: 70vh;
  border-radius: 16px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  padding-bottom: 20px;
}
